<th:block th:replace="~{participant/fragments/header}"></th:block>

<div class="container">
    <th:block th:replace="~{participant/fragments/validation :: formErrors(${errors})}"/>
</div>

<div class="container">
    <div class="card shadow mb-4 border border-dark">

        <div class="card-header">
            <a th:href="@{/participant/topics}" class="btn btn-dark float-end">
                Geri
            </a>
        </div>

        <div class="card-body">
            <form th:action="@{/participant/topics/edit}" th:object="${request}" method="POST" class="text-primary">
                <input type="hidden" th:field="*{id}"/>

                <div class="form-group col-md-12">
                    <label>Mövzu adı:</label>
                    <input type="text" class="form-control" th:field="*{name}" required/>
                </div>

                <div class="form-group mt-4 d-flex justify-content-end">
                    <button type="submit" class="btn btn-success">
                        Yenilə
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<th:block th:replace="~{participant/fragments/footer}"></th:block>
