<th:block th:replace="~{participant/fragments/header}"></th:block>

<style>
    .search-wrapper {
        max-width: 500px;
        margin: 0 auto;
    }

    body:not(.dark-mode) input.form-control::placeholder {
        color: #6c757d !important;
        opacity: 1;
    }

    body.dark-mode input.form-control::placeholder {
        color: #ffffff !important;
        opacity: 1;
    }

    .card-header-custom {
        background-color: #000000 !important;
        color: #ffffff !important;
    }
</style>

<div class="px-4 mt-4 w-100">
    <div class="alert alert-success shadow border border-success text-center" th:if="${success}">
        <i class="fa fa-check mr-2"></i> [[${success}]]
    </div>

    <div class="search-wrapper mb-4">
        <form th:action="@{/participant/topics}" method="get" class="d-flex">

            <input type="text"
                   name="name"
                   class="form-control"
                   placeholder="Mövzu axtar"
                   th:value="${param.name}"/>

            <button type="submit" class="btn btn-primary ms-2">
                Axtar
            </button>

            <a th:href="@{/participant/topics}" class="btn btn-outline-warning ms-2">
                Sıfırla
            </a>

        </form>
    </div>

    <div class="card shadow mb-4 w-100">

        <div class="card-header card-header-custom d-flex justify-content-between align-items-center">
            <h5 class="m-0">İmtahan Mövzuları</h5>
            <a th:href="@{/participant/topics/create}" class="btn btn-success">Əlavə Et</a>
        </div>
        <div class="card-body">
            <div class="table-responsive w-100">
                <table class="table table-bordered table-hover text-center w-100">
                    <thead class="thead-dark">
                    <tr>
                        <th>No</th>
                        <th>İmtahan Mövzuları</th>
                        <th>Daxil Edilmə Tarixi</th>
                        <th>Əməliyyatlar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="topic, stat : ${topics}">
                        <th class="align-middle">
                            <div class="badge badge-pill badge-dark">[[${stat.count}]]</div>
                        </th>
                        <td th:text="${topic.name}" class="align-middle"></td>
                        <th th:title="${topic.createdAt}" th:text="${@diffForHumans.getTime(topic.createdAt)}"
                            class="align-middle"></th>
                        <th class="align-middle">
                            <th:block th:if="${topic.byParticipant == currentParticipantId}">
                                <a th:href="@{/participant/questions/topic/{id}(id=${topic.id})}"
                                   class="btn btn-success btn-sm btn-circle"
                                   data-bs-toggle="tooltip" data-bs-placement="top" title="Bax">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <a th:href="@{/participant/topics/{id}/edit(id=${topic.id})}"
                                   class="btn btn-info btn-sm btn-circle"
                                   data-bs-toggle="tooltip" data-bs-placement="top" title="Düzəliş">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <a href="#" th:data-url="@{/participant/topics/{id}/delete(id=${topic.id})}"
                                   class="btn btn-danger btn-sm btn-circle delete-btn"
                                   data-bs-toggle="tooltip" data-bs-placement="top" title="Sil">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                                <form th:action="@{/participant/topics/change-status/topic/{id}/status/{status}(id=${topic.id}, status=${topic.isActive ? 0 : 1})}"
                                      method="GET" class="d-inline-block m-0 p-0">
                                    <input type="checkbox"
                                           th:checked="${topic.isActive}"
                                           data-toggle="toggle"
                                           data-on="On" data-off="Off"
                                           data-onstyle="success" data-offstyle="danger"
                                           data-size="sm"
                                           onchange="this.form.submit()"/>
                                </form>
                            </th:block>
                            <th:block th:unless="${topic.byParticipant == currentParticipantId}">
                                <a th:href="@{/participant/questions/topic/{id}(id=${topic.id})}"
                                   class="btn btn-success btn-sm btn-circle"
                                   data-bs-toggle="tooltip" data-bs-placement="top" title="Bax">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </th:block>
                        </th>
                    </tr>
                    </tbody>
                </table>

                <div th:replace="~{participant/fragments/pagination :: paginationFragment(${topics}, '/participant/topics')}"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-danger">
            <div class="modal-header">
                <h5 class="modal-title text-danger">Silinsin?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                Bu qeydi silmək istədiyinizə əminsiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Çıx</button>
                <button type="button" class="btn btn-danger" id="modal-confirm_delete">Sil</button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', () => {
        // Alert auto hide
        setTimeout(() => $(".alert").hide(2000), 3000);

        // Bootstrap Toggle
        $('[data-toggle="toggle"]').bootstrapToggle({
            on: '<i class="fas fa-check"></i> On',
            off: '<i class="fas fa-times"></i> Off',
            onstyle: 'success',
            offstyle: 'danger'
        });

        // Delete modal
        $('.delete-btn').on('click', e => {
            e.preventDefault();
            $('#modal-confirm_delete').data('url', e.currentTarget.dataset.url);
            $('#deleteModal').modal('show');
        });

        $('#modal-confirm_delete').on('click', () => {
            window.location.href = $('#modal-confirm_delete').data('url');
        });

        // Enable Bootstrap tooltips
        const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        const tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        });
    });
</script>

<th:block th:replace="~{participant/fragments/footer}"></th:block>
