<div id="wrapper">

    <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark" id="accordionSidebar">

        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/admin/home}">
            <div class="sidebar-brand-text mx-3">Quiz Admin</div>
        </a>

        <li class="nav-item">
            <a class="nav-link"
               th:href="@{/admin/users}">
                <i class="fas fa-users"></i> <span>Adminlər</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link"
               th:href="@{/admin/topics}">
                <i class="fas fa-map"></i> <span>Mövzular</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link"
               th:href="@{/admin/participants}">
                <i class="fas fa-user-graduate"></i> <span>İstifadəçilər</span>
            </a>
        </li>

        <li class="nav-item" style="flex-grow: 1;"></li>

        <div class="text-center d-none d-md-inline mb-3">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>

    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">

            <nav class="navbar navbar-expand navbar-light bg-gradient-dark topbar mb-4 static-top shadow">

                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item no-arrow mx-2">
                        <button id="darkModeToggle" class="btn btn-secondary btn-sm" title="Dark Mode">
                            <i class="fas fa-moon"></i>
                        </button>
                    </li>
                    <li class="nav-item dropdown no-arrow">
                        <form th:action="@{/admin/logout}" method="post">
                            <button type="submit" class="dropdown-item text-danger bg-transparent border-0">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Çıxış
                            </button>
                        </form>
                    </li>
                </ul>
            </nav>
            <div class="container-fluid">